## Rec system

In [27]:
from faker import Faker
import pandas as pd
import random
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [6]:
!pip install faker

Collecting faker
  Downloading Faker-19.6.1-py3-none-any.whl (1.7 MB)
     ---------------------------------------- 1.7/1.7 MB 523.7 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in c:\users\ajvs1\anaconda3\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\ajvs1\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-19.6.1

In [9]:
fake = Faker()

# Define categories and items
categories = ["Bath Bomb", "Skin Care", "Body Wash", "Hair Care", "Facial Care"]
items = [
    {"name": "Lavender Bliss Bath Bomb", "category": "Bath Bomb"},
    {"name": "Ocean Breeze Bath Bomb", "category": "Bath Bomb"},
    {"name": "Rose Petal Bath Bomb", "category": "Bath Bomb"},
    {"name": "Mint Fresh Bath Bomb", "category": "Bath Bomb"},
    {"name": "Citrus Splash Bath Bomb", "category": "Bath Bomb"},
    {"name": "Cherry Blossom Bath Bomb", "category": "Bath Bomb"},
    {"name": "Vanilla Delight Bath Bomb", "category": "Bath Bomb"},
    {"name": "Cucumber Mint Bath Bomb", "category": "Bath Bomb"},
    {"name": "Eucalyptus Soothing Bath Bomb", "category": "Bath Bomb"},
    {"name": "Coconut Bliss Bath Bomb", "category": "Bath Bomb"},
    {"name": "Hydrating Rose Cream", "category": "Skin Care"},
    {"name": "Vitamin C Serum", "category": "Skin Care"},
    {"name": "Retinol Night Cream", "category": "Skin Care"},
    {"name": "Hyaluronic Acid Serum", "category": "Skin Care"},
    {"name": "Aloe Vera Moisturizer", "category": "Skin Care"},
    {"name": "Gentle Exfoliating Scrub", "category": "Skin Care"},
    {"name": "Charcoal Face Mask", "category": "Skin Care"},
    {"name": "Green Tea Cleanser", "category": "Skin Care"},
    {"name": "Anti-Aging Eye Cream", "category": "Skin Care"},
    {"name": "Brightening Vitamin E Cream", "category": "Skin Care"},
    {"name": "Citrus Body Wash", "category": "Body Wash"},
    {"name": "Lavender Body Wash", "category": "Body Wash"},
    {"name": "Peppermint Body Wash", "category": "Body Wash"},
    {"name": "Rosemary Body Wash", "category": "Body Wash"},
    {"name": "Olive Oil Body Wash", "category": "Body Wash"},
    {"name": "Jasmine Blossom Body Wash", "category": "Body Wash"},
    {"name": "Honey Almond Body Wash", "category": "Body Wash"},
    {"name": "Shea Butter Body Wash", "category": "Body Wash"},
    {"name": "Coconut Milk Body Wash", "category": "Body Wash"},
    {"name": "Oatmeal Soothing Body Wash", "category": "Body Wash"},
    {"name": "Nourishing Shampoo", "category": "Hair Care"},
    {"name": "Strengthening Shampoo", "category": "Hair Care"},
    {"name": "Moisturizing Shampoo", "category": "Hair Care"},
    {"name": "Volumizing Shampoo", "category": "Hair Care"},
    {"name": "Keratin Smooth Shampoo", "category": "Hair Care"},
    {"name": "Argan Oil Shampoo", "category": "Hair Care"},
    {"name": "Tea Tree Scalp Care Shampoo", "category": "Hair Care"},
    {"name": "Coconut Water Shampoo", "category": "Hair Care"},
    {"name": "Lemon Clarifying Shampoo", "category": "Hair Care"},
    {"name": "Chamomile Soothing Shampoo", "category": "Hair Care"},
    {"name": "Purifying Face Mask", "category": "Facial Care"},
    {"name": "Hydrating Face Mist", "category": "Facial Care"},
    {"name": "Gentle Facial Cleanser", "category": "Facial Care"},
    {"name": "Revitalizing Face Serum", "category": "Facial Care"},
    {"name": "Nourishing Face Oil", "category": "Facial Care"},
    {"name": "Brightening Face Scrub", "category": "Facial Care"},
    {"name": "Calming Face Toner", "category": "Facial Care"},
    {"name": "Anti-Wrinkle Face Cream", "category": "Facial Care"},
    {"name": "Detoxifying Face Mask", "category": "Facial Care"},
    {"name": "Refreshing Face Gel", "category": "Facial Care"},
]

# Generate data for 1000 people
data = []
for i in range(1000):
    person_id = i + 1
    pronoun = random.choice(["He/Him", "She/Her", "They/Them"])
    item = random.choice(items)
    item_id = items.index(item) + 1
    item_name = item['name']
    category = item['category']
    purchase_date = fake.date_between(start_date='-2y', end_date='today').strftime('%Y-%m-%d')
    
    data.append([person_id, pronoun, item_id, item_name, category, purchase_date])

# Create a pandas DataFrame
df = pd.DataFrame(data, columns=['Person ID', 'Pronouns', 'Item ID', 'Item Name', 'Category', 'Purchase Date'])

# Save the data frame to a CSV file
df.to_csv('bath_cosmetics_data.csv', index=False)

# Display the first few rows of the DataFrame

In [10]:
df.head()

,Person ID,Pronouns,Item ID,Item Name,Category,Purchase Date
0,1,She/Her,3,Citrus Body Wash,Body Wash,2022-05-26
1,2,She/Her,4,Nourishing Shampoo,Hair Care,2022-07-22
2,3,She/Her,4,Nourishing Shampoo,Hair Care,2022-04-27
3,4,They/Them,5,Purifying Face Mask,Facial Care,2022-10-25
4,5,She/Her,5,Purifying Face Mask,Facial Care,2021-12-25

In [ ]:
###########################################################################################################################

In [ ]:
###########################################################################################################################

In [ ]:
###########################################################################################################################

## Creating Inventory, Customer and Transaction Dataframes

In [19]:
import pandas as pd
import random

# Categories and products
categories = {
    "Bath Bombs": ["Lavender Dream", "Rose Bliss", "Citrus Burst", "Eucalyptus Breeze", "Ocean Mist"],
    "Bubble Bars": ["Rainbow Fizz", "Lemonade Splash", "Peppermint Swirl", "Rosemary Retreat", "Chamomile Calm"],
    "Little Lushies": ["Lilac Lushie", "Peachy Lushie", "Minty Lushie", "Cherry Lushie", "Cocoa Lushie"],
    "Bath Oils": ["Soothing Lavender", "Refreshing Citrus", "Calming Chamomile", "Energizing Peppermint", "Romantic Rose"],
    "Aroma and Bath Melts": ["Lavender Meltdown", "Citrus Sunshine", "Rose Garden", "Mint Freshness", "Jasmine Blossom"],
    "Shower Gels": ["Morning Dew", "Sunset Bliss", "Tropical Splash", "Ocean Wave", "Forest Retreat"],
    "Bar Soap": ["Charcoal Detox", "Rose Petal", "Lavender Calm", "Citrus Zest", "Mint Fresh"],
    "Body Scrubs": ["Sugar Rush", "Salt Breeze", "Coffee Awakening", "Lavender Soothe", "Citrus Glow"],
    "Body Butters and Conditioners": ["Cocoa Butter Bliss", "Shea Smooth", "Mango Delight", "Olive Enrich", "Coconut Nourish"],
    "Shower Bombs": ["Eucalyptus Blast", "Rose Revival", "Citrus Burst", "Lavender Lull", "Peppermint Punch"],
    "Shaving Creams": ["Smooth Silk", "Cooling Mint", "Lavender Calm", "Aloe Soothe", "Citrus Fresh"],
    "Body Cleansers": ["Detox Charcoal", "Lavender Soothe", "Citrus Revive", "Mint Refresh", "Rose Petal"],
    "Cleansers and Scrubs": ["Charcoal Cleanse", "Mint Exfoliate", "Rose Renew", "Lavender Soften", "Citrus Brighten"],
    "Moisturizers": ["Hydra Boost", "Nourish Plus", "Radiance Glow", "Soft Touch", "Aqua Quench"],
    "Toners": ["Rose Revive", "Lavender Calm", "Citrus Balance", "Mint Refresh", "Aloe Soothe"],
    "Masks": ["Clay Detox", "Honey Nourish", "Seaweed Purify", "Charcoal Clear", "Fruit Glow"],
    "Makeup": ["Natural Radiance", "Silk Foundation", "Lush Lash", "Berry Blush", "Sunset Eye Palette"],
    "Eye Skincare": ["Bright Eye Cream", "Lifting Serum", "Cooling Gel", "Hydrating Mask", "Revitalizing Roller"],
    "Lip Scrubs and Balms": ["Sugar Kiss", "Rose Petal", "Mint Fresh", "Berry Smooth", "Honey Nourish"],
    "Oral Care": ["Fresh Mint Toothpaste", "Whitening Strips", "Herbal Mouthwash", "Charcoal Toothbrush", "Cleansing Gum Serum"],
    "Shaving": ["Cooling Shave Gel", "Silk Shave Cream", "Post-Shave Balm", "Soothing Shave Oil", "Charcoal Razor"],
    "Vegan Skincare": ["Herbal Infusion", "Fruit Revive", "Floral Calm", "Nutrient Boost", "Hydrating Bloom"],
    "Shampoo Bars": ["Lavender Bloom", "Rosemary Growth", "Citrus Shine", "Peppermint Fresh", "Chamomile Soothe"],
    "Shampoo": ["Nourish and Shine", "Volume Boost", "Color Protect", "Hydrate Plus", "Damage Repair"],
    "Conditioners": ["Smooth Silk", "Hydra Nourish", "Volume Lift", "Color Preserve", "Keratin Repair"],
    "Hair Treatments": ["Argan Oil Serum", "Keratin Smooth", "Protein Repair", "Hydrating Mask", "Color Save"],
    "Styling": ["Flexible Hold Spray", "Shine Serum", "Texture Paste", "Volume Mousse", "Curl Defining Cream"],
    "Henna Hair Dyes": ["Natural Black", "Rich Brown", "Burgundy Bliss", "Copper Radiance", "Mahogany Depth"],
    "Body Lotions": ["Shea Nourish", "Cocoa Soft", "Mango Hydrate", "Aloe Soothe", "Lavender Calm"],
    "Massage Bars": ["Lavender Relax", "Rose Bliss", "Citrus Energize", "Peppermint Soothe", "Chamomile Calm"],
    "Handcare": ["Nourishing Hand Cream", "Silk Hand Serum", "Hydrating Hand Mask", "Repairing Hand Balm", "Softening Hand Scrub"],
    "Footcare": ["Cooling Foot Gel", "Peppermint Foot Cream", "Exfoliating Foot Scrub", "Soothing Foot Soak", "Healing Foot Balm"],
    "Deodorants and Dusting Powders": ["Fresh Citrus", "Lavender Calm", "Rose Bliss", "Mint Fresh", "Vanilla Sweet"],
    "Body Scrubs": ["Sea Salt Glow", "Sugar Smooth", "Coffee Revive", "Citrus Polish", "Lavender Relax"],
    "Body Butters and Conditioners": ["Cocoa Deep Nourish", "Shea Smooth", "Mango Delight", "Coconut Rich", "Olive Enrich"],
}


# List to store product data
products = []

# Generate product data
item_id = 1
for category, product_names in categories.items():
    for product_name in product_names:
        price = round(random.uniform(5.0, 25.0), 2)
        products.append([item_id, product_name, category, price])
        item_id += 1

# Create Inventory DataFrame
inventory_df = pd.DataFrame(products, columns=['Item ID', 'Name of the Item', 'Category', 'Price'])

In [55]:
inventory_df.head(10)

   Item ID   Name of the Item     Category  Price
0        1     Lavender Dream   Bath Bombs  12.49
1        2         Rose Bliss   Bath Bombs  17.32
2        3       Citrus Burst   Bath Bombs   9.08
3        4  Eucalyptus Breeze   Bath Bombs   6.91
4        5         Ocean Mist   Bath Bombs  10.47
5        6       Rainbow Fizz  Bubble Bars  21.27
6        7    Lemonade Splash  Bubble Bars  19.51
7        8   Peppermint Swirl  Bubble Bars  24.21
8        9   Rosemary Retreat  Bubble Bars   7.11
9       10     Chamomile Calm  Bubble Bars  13.31

In [21]:
from faker import Faker

fake = Faker()

# List to store customer data
customers = []

# Generate customer data for 1000 customers
for i in range(1000):
    customer_id = i + 1
    phone_number = fake.phone_number()
    pronouns = random.choice(["He/Him", "She/Her", "They/Them", None])
    if random.random() < 0.08:
        pronouns = None
    name = fake.name()
    email = fake.email()

    customers.append([customer_id, phone_number, pronouns, name, email])

# Create Customer DataFrame
customer_df = pd.DataFrame(customers, columns=['Customer ID', 'Phone Number', 'Pronouns', 'Name', 'Email'])

In [25]:
customer_df.tail()

,Customer ID,Phone Number,Pronouns,Name,Email
995,996,(977)908-9352,None,John Munoz,kevin58@example.com
996,997,+1-669-277-6739,They/Them,Scott Schultz,tonyamorrison@example.org
997,998,(391)532-7862x8987,She/Her,Carmen Bernard,juan15@example.org
998,999,9049235283,None,Edward Hoover,ashley23@example.com
999,1000,(965)697-2100x8207,He/Him,Ronald Waller Jr.,bgutierrez@example.com

In [28]:
# List to store transaction data
transactions = []

# Generate transaction data
for i in range(1000):
    product_id = random.randint(1, len(products))
    customer_id = random.randint(1, 1000)
    purchase_date = fake.date_between(start_date='-2y', end_date='today').strftime('%Y-%m-%d')
    quantity = random.randint(1, 5)
    sales_channel = random.choice(["Online", "In-Store"])
    rating = round(random.uniform(0.5, 5.0), 1)
    
    transactions.append([product_id, customer_id, purchase_date, quantity, sales_channel, rating])

# Create Transactional DataFrame
transaction_df = pd.DataFrame(transactions, columns=['Item ID', 'Customer ID', 'Purchase Date', 'Quantity', 'Sales Channel', 'Rating'])

In [33]:
transaction_df.head()

   Item ID  Customer ID Purchase Date  Quantity Sales Channel  Rating
0       85          774    2023-02-05         2        Online     1.7
1        6          226    2022-10-20         3        Online     4.5
2       76          915    2021-10-06         4      In-Store     0.8
3       30          636    2023-05-26         2      In-Store     1.0
4      150          256    2023-05-07         5      In-Store     3.0

In [ ]:
###########################################################################################################################

In [ ]:
###########################################################################################################################

## Recomender System

#### Calculate Average Rating for Each Product

In [45]:
average_ratings = transaction_df.groupby('Item ID')['Rating'].mean().reset_index()

In [48]:
average_ratings.head(10)

   Item ID    Rating
0        1  3.750000
1        2  3.375000
2        3  2.871429
3        4  2.885714
4        5  2.872727
5        6  3.120000
6        7  3.466667
7        8  2.600000
8        9  3.450000
9       10  2.400000

#### Merge Average Ratings with Inventory Data

In [49]:
product_recommendations = pd.merge(inventory_df, average_ratings, on='Item ID', how='left')

#### Recommend Products Based on Highest Average Rating

In [52]:
def recommend_products(num_recommendations=5):
    recommended_products = product_recommendations.sort_values(by='Rating', ascending=False).head(num_recommendations)
    return recommended_products

# Get the top 3 recommended products
top_recommendations = recommend_products(num_recommendations=3)

In [56]:
top_recommendations.head(10)

     Item ID Name of the Item         Category  Price  Rating
72        73   Citrus Balance           Toners  15.14     4.6
146      147       Rose Bliss     Massage Bars  17.53     4.6
136      137       Rich Brown  Henna Hair Dyes   9.22     4.2

So the results takes the product with highest avg ratings provided from customer in the transaction dataframe

### This is just sample of how can we proceed to do it

In [ ]:
##Sorting with high rating

##User item filtering withc user has similar preferences

## Item to item: what items are similar to each other